/*通配符 * 所有的意思*/
* {
    margin: 0px;
    padding: 0px;
}

.top {
    width: 100%;
    height: 50px;
    background-color: black;
}

.top_content {
    width: 75%;
    height: 50px;
    margin: 0px auto;
    background-color: blue;
}

.body {
    margin: 20px auto;
    width: 75%;
    height: 1500px;
    background-color: blanchedalmond;
}

.body_img {
    width: 100%;
    height: 400px;
    background-color: #BB6622;
}

.body_content {
    width: 100%;
    height: 1100px;
    background-color: blueviolet;
}

.body_no {
    width: 100%;
    height: 50px;
    background-color: aqua;
}

.footing {
    width: 75%;
    height: 330px;
    background-color: indigo;
    margin: 0px auto;
}